.modulereportbox .floatright {
	float: right;
	margin: 0 0 2px 0;
}

.modulereportbox .contents {
	overflow: auto;
	height: 650px;
	clear: both;
}

.modulereportbox .contents .module_cell {
	cursor: pointer;
}

.modulereportbox .contents .module_cell:hover {
	background: #cecece;
}

#modalmessage .spinner {
	margin-left: 186px;
}